<div class="flex-col rounded-lg bg-background px-8 py-8 sm:flex-row">
    
    <div class="relative overflow-x-auto">
      <table class="w-full table-auto">
        <!--Table head-->
        <thead class="text-xs uppercase text-muted-foreground">
          <tr>       
            <th class="py-3 text-left">Fecha</th>
            <th class="py-3 text-left">Hora</th>
            <th class="py-3 text-left">Descripcion</th>
          </tr>
        </thead>
        <!--end Table head-->
        <!--Table body-->
        <tbody>
          <tr
            *ngFor="let action of actions"
            [auction]="action"
            action-table-item
            class="border-b border-dashed border-border hover:bg-card"></tr>
        </tbody>
        <!--end::Table body-->
      </table>
    </div>
  </div>
  