<div class="flex h-screen w-full overflow-hidden">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
  
    <div class="flex grow flex-col content-start bg-card">
      <!-- Header -->
        <app-navbar></app-navbar>
        <!-- main content -->
        <div
        class="flex flex-col items-center justify-center gap-2 rounded-lg bg-background p-8 text-center shadow-sm">
        <div class="mb-4 flex h-auto justify-between overflow-y-auto">
            <div class="overflow-auto h-full">
              <h3 class="font-semibold text-foreground">1.	Términos y Condiciones para EmergyAI</h3>
              <div class="overflow-auto h-full w-full text-base text-muted-foreground text-justify px-4 pt-4">                
                    Estos Términos y Condiciones rigen el uso de la aplicación EmergyAI y los servicios proporcionados por EmergyAI. Al utilizar nuestra aplicación, usted acepta cumplir con estos términos.<br>
                    <br> Uso de la Aplicación <br>
                    •	Elegibilidad: Debe ser mayor de edad y tener capacidad legal para aceptar estos términos.b <br>
                    •	Cuenta de Usuario: Es responsable de mantener la confidencialidad de su cuenta y contraseña, y acepta notificar de inmediato cualquier uso no autorizado de su cuenta.<br>
                    •	Uso Permitido: Solo puede utilizar nuestra aplicación para los fines permitidos por la ley y de acuerdo con estos términos.<br>
                    <br>Propiedad Intelectual<br>
                    Todos los derechos de propiedad intelectual sobre la aplicación y los servicios pertenecen a EmergyAI. Usted no puede copiar, modificar, distribuir, vender o arrendar ninguna parte de nuestros servicios o software.<br>
                    <br>Tarifas y Pagos<br>
                    •	Suscripción y Licencias: Algunos servicios pueden requerir el pago de tarifas de suscripción o licencia. Estas tarifas se detallarán claramente en nuestra aplicación.<br>
                    •	Política de Reembolsos: Las tarifas pagadas no son reembolsables, excepto donde lo requiera la ley aplicable.<br>
                    <br>Limitación de Responsabilidad<br>
                    •	Exclusión de Garantías: Nuestra aplicación se proporciona "tal cual" y "según disponibilidad", sin garantías de ningún tipo.
                    •	Limitación de Daños: En la medida máxima permitida por la ley, no seremos responsables por ningún daño indirecto, incidental, especial, consecuente o punitivo.
                    <br>Terminación<br>
                    Podemos suspender o terminar su acceso a nuestra aplicación en cualquier momento, sin previo aviso, si incumple estos términos o si creemos que su uso de nuestra aplicación puede causar daños a nosotros o a otros usuarios.
                    <br>Modificaciones a los Términos<br>
                    Nos reservamos el derecho de modificar estos términos en cualquier momento. Le notificaremos sobre cualquier cambio publicando los nuevos términos en nuestra aplicación y, en su caso, enviándole una notificación.
                    <br>Ley Aplicable y Jurisdicción<br>
                    Estos términos se rigen por las leyes de Bolivia, sin tener en cuenta sus conflictos de principios legales. Cualquier disputa relacionada con estos términos se resolverá exclusivamente en los tribunales de Santa Cruz, Bolivia.
              </div>
            </div>
        </div>
            
      </div>

  
      <!-- footer -->
      <app-footer></app-footer>
  
      <!-- Bottom bar -->
      <!-- <app-bottom-navbar></app-bottom-navbar> -->
    </div>
</div>
  