<td class="pr-2 py-2 text-left">
    <span class="text-sm font-semibold text-foreground"> {{ auction.user.last_name }}</span>
  </td>
  <td class="pl-2 py-2 text-left">
    <span class="text-sm font-semibold text-muted-foreground">{{ auction.user.name }}</span>
  </td>
  <td class="pl-2 py-2 text-left">
    <span class="text-sm font-semibold text-muted-foreground">{{ auction.charge.name }}</span>
  </td>
  <td class="pl-2 py-2 text-left">
    <span class="text-sm font-semibold text-muted-foreground">{{ auction.user.grade }}</span>
  </td>
  <td class="pl-2 py-2 text-center">  
    <!-- <div class="flex justify-center">
      <button
        href="#" (click)="show(auction.id!)"
        class="flex h-7 w-7 items-center justify-center rounded-md bg-card text-muted-foreground hover:bg-muted hover:text-foreground">
        <svg-icon src="assets/icons/heroicons/outline/arrow-sm-right.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
      </button>
    </div> -->
  </td>
  